* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  padding: 15px 0;
}

.student {
  padding: 10px;
  background-color: wheat;
  margin: 10px auto;
  width: 250px;
  border-radius: 5px;
}
.name {
  font-weight: bold;
}
.stud-skill-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.stud-skill-btn button {
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  transition: all 1s;
}
.stud-skill-btn button:hover {
  background-color: gray;
  color: white;
}
.footer {
  text-align: center;
  padding: 15px 0;
  background-color: grey;
  color: white;
  opacity: 78%;
}
/* Desktop and Tablet view */
@media (min-width: 768px) {
  .students {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
  }
}
