* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-btns {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.active {
  background: greenyellow;
  width: 100px;
  padding: 5px;
}
.neutral {
  background: grey;
  width: 100px;
  padding: 5px;
}
